# MTN MoMo Collections API
MOMO_SUBSCRIPTION_KEY=
MOMO_API_USER=
MOMO_API_KEY=
MOMO_TARGET_ENVIRONMENT=sandbox
MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com

# Shopify
SHOPIFY_STORE_DOMAIN=kivuhome.myshopify.com
SHOPIFY_ADMIN_API_TOKEN=
SHOPIFY_WEBHOOK_SECRET=
